@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Ubuntu:wght@300;500;700&display=swap');

:root {
    --primary-font: 'Ubuntu', sans-serif;
    --second-font:  'Playfair Display', serif;
    --primary-color: #f2994a;
    --home-bg: #fefaf6;
    --silver-color: #f0f0f0;
    --black-color: #111;
    --gray-color: #333;
}